<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
<script type="text/javascript">
	var facepro = angular.module('Facepro', []);
	facepro.controller('friend', function($scope, $http) {
		$scope.submit = function() {
			$http({
				method : "POST",
				url : '/addFriend',
				data : {
					"friend" : $scope.friend
				}
			}).success(function(data){
				if(data.status=='Fail'){
					alert("Internal Error.Please try again later");
				}
				else if(data.status=='waiting'){
					document.getElementById('waiting').style.display = "block";
					document.getElementById('friendAlready').style.display = "none";
					document.getElementById('requestSent').style.display = "none";
					document.getElementById('noEmailIDExists').style.display = "none";
				}
				else if(data.status=='FriendAlready'){
					document.getElementById('friendAlready').style.display = "block";
					document.getElementById('requestSent').style.display = "none";
					document.getElementById('waiting').style.display = "none";
					document.getElementById('noEmailIDExists').style.display = "none";
				}
				else if(data.status=='Request Sent'){
					document.getElementById('requestSent').style.display = "block";
					document.getElementById('friendAlready').style.display = "none";
					document.getElementById('waiting').style.display = "none";
					document.getElementById('noEmailIDExists').style.display = "none";
					window.location.assign("/friends");
				}
				else if(data.status=='Email Does not Exists'){
					document.getElementById('noEmailIDExists').style.display = "block";
					document.getElementById('friendAlready').style.display = "none";
					document.getElementById('requestSent').style.display = "none";
					document.getElementById('waiting').style.display = "none";
				}
			}).error(function(err){
				alert("error");
			});
		};
	});
	function addFriend(name,emailid){
		$.ajax({
			type: "POST",
			url:"/acceptedRequest",
			data:{"name":name,
				"emailid":emailid
				},
			success: function(result){
				window.location.assign("/friends");
			}
		});
	}
</script>
</head>
<body ng-app="Facepro">
	<nav class="navbar navbar-default" style=" background-color: #3b5998;margin-bottom:0px;">
		<div class="col-md-1">
				
		</div>
		<div class="col-md-10">
			<label style="margin-top: 0px;font-size:28px;color:white;float:left" class="loginpageText"><a href="/homepage" style="color:white" class="facepro_homepage_click">facepro</a></label>
				<div class="wrapper" style="float:left;margin-top:10px">
				<form action="searchUser" method="POST">
				<input type="text" name="search" id="search" ng-model="search" style="width:370px;height:20px"/>
				<button class="loginpageText _searchbox"><img src="/images/login_page_images/search.png" width="15" height="15"></img></button>
				</form>
				</div>
				<div>
					<label style="font-weight:normal;margin-left: 150px;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><a href="/viewProfile" style="color:white"><input type="button" value="<%=username%>" class="homepageButton"/></a>&nbsp;&nbsp;&nbsp;</label>
				</div>
				<div>
					<label style="font-weight:normal;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><a href="/homepage" style="color:white"><input type="button" value="Home" class="homepageButton"/></a>&nbsp;&nbsp;</label>
				</div>
				<div style="float:left;margin-top: 8px;">
					<table cell-padding="10" cell-spacing="10">
						<tbody>
							<tr><td><img src="/images/login_page_images/friends.png" width="33" height="31"></img></td><td></td>
							<td><img src="/images/login_page_images/message.png" width="28" height="31"></img></td><td></td>
							<td><img src="/images/login_page_images/notifications.png" width="28" height="31"></img></td>
							<td>&nbsp;&nbsp;&nbsp;</td>
							<td><img src="/images/login_page_images/privacy.png" width="15" height="18"></img>&nbsp;
							</td>
							<td>
							
							</td>
							
							
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<form action="logout" method="post">
							<label style="font-weight:normal;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><input type="submit" value="Logout" class="homepageButton"/>&nbsp;&nbsp;</label>
							</form>
				</div>
		</div>
		<div class="col-md-1">
		
		</div>
	</nav>
	<nav>
		<div class="col-md-1">
		
		</div>
		<div class="col-md-7">
			<div class="row" style="height: 200px; width: auto;">
				<img src="/images/friends_wallpaper.jpg" height="200" width="795"></img>
			</div>
			<div class="row">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div>
				      <ul class="nav navbar-nav">
				        <li><a href="/viewProfile">View Profile</a></li>
				        <li><a href="/editProfile">About</a></li>
				        <li class="active"><a href="/friends">Friends</a></li>
				        <li><a href="/photos">Photos</a></li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Videos</a></li>
				            <li><a href="#">check-ins</a></li>
				            <li><a href="#">Sports</a></li>
				            <li><a href="#">Music</a></li>
				            <li><a href="#">Movies</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Manage sections</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
			<div class="row">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<table style="margin:10px">
						<tr><td><img src="/images/friends.png"></img>&nbsp;&nbsp;&nbsp;</td>
						<td><a href="/friends">Friends</a></td>
						</table>
					</div>
				</nav>
				<nav class="navbar navbar-default" style=" background-color: white;margin-bottom:0px;">
				<%if(friends.length==0){%>
					<h3>You dont have any friends as of now</h3>
				<%}
				else{%>
					<table cellspacing="10" cellpadding="10" style="margin:20px">
					<%for(var i=0;i<friends.length;i++){%>
						<tr><td><img src="/images/user.png" width="50" height="50"></img></td><td><%= friends[i].firstName%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input type="button" class="btn btn-default" disabled value="Friends"/></td></tr>
					<%
					}%>
					</table>
				<%}
				if(friendsWaiting.length>0){%>
					<nav class="navbar navbar-default" style=" background-color: white;margin-bottom:0px;">
					<table style="margin:20px">
				<%
					for(var i=0;i<friendsWaiting.length;i++){%>
						<tr><td><img src="/images/user.png" width="50" height="50"></img></td><td><%= friendsWaiting[i].firstName%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input type="button" class="btn btn-default" disabled value="Request Sent"/></td></tr>
					<%
					}%>
					</table>	
					</nav>
				<%}
				if(friendsRequesting.length>0){%>	
					<nav class="navbar navbar-default" style=" background-color: white;margin-bottom:0px;">
					<h3>Friend request received</h3>
					<table style="margin:20px">
					<%
						for(var i=0;i<friendsRequesting.length;i++){%>
							<tr><td><img src="/images/user.png" width="50" height="50"></img></td><td><%= friendsRequesting[i].firstName%>&nbsp;&nbsp;&nbsp;</td>
							<td><input type="submit" class="btn btn-default" value="Add Friend" onclick="this.disabled=true;addFriend('<%=friendsRequesting[i].firstName%>','<%=friendsRequesting[i].friendEmailID%>')"></tr>
						<%
						}%>
						</table>
						</nav>
					<%}%>
				<!--<nav class="navbar navbar-default" style=" background-color: white;margin-bottom:0px;">
				<div>
					<form ng-controller="friend" id="friend" ng-submit="submit();">
						Type email of your friend and click add
						<input type="text" value="" ng-model="friend" name="friend" id="friend">	
						<input type="submit" value=Add Friend"/>
						<p id="noEmailIDExists" style="display:none">Entered person profile cannot be found</p>
						<p id="waiting" style="display:none">Friend Request Already Sent.Request Awaiting</p>
						<p id="friendAlready" style="display:none">Entered person is already your friend.</p>
						<p id="requestSent" style="display:none">Friend Request Sent.</p>
					</form>
				</div>
				</nav>-->
			</div>
		</div>
		<div class="col-md-4">
		
		</div>
	</nav>
</body>
</html>